img{margin:5px;float:left;}
.hidden,div *{display:none;}
.video{
  background:lightgray;
  border:5px solid lightgray;
  border-radius:10px;
  float:left;
  margin:5px;
  text-align:center;
  max-width: 45%;
}
div[collapse=yes] a:visited{color:lightgray;}
input{width:6em;}
li,button{margin:.25em;}
.title,a,div[collapse=no] *{display:inline;}
#filterquery{margin:1em 0em .75em 0em;height:5em;display:block;width:30em;}
#querybox button{display:none;}
